.button-search{
    -fx-background-radius: 60;
}

.button-menu{
    -fx-background-radius: 10;
}

.transparent{
    -fx-background-color: rgba(0, 0, 0, 0);
}

.information-database{
    -fx-background-radius: 30;
    -fx-background-color:  #F9E754;
}